body {
  background: linear-gradient(120deg, #44136b, #450857);
  color: white;
  font-family: "Courier New", Courier, monospace;
}

#telaIncial {
  text-align: center;
  font-size: 45px;
}

ol {
  color: white;
  font-size: 25px;
}

a {
  color: yellow;
  font-size: 25px;
}

#by {
  text-align: center;
  font-size: 35px;
  font-family: "Courier New", Courier, monospace;
}
